<div class="form-horizontal">
		<fieldset>
			{{#if controller.isEditing }}
	    		<legend>Edit "{{ name }}" Portfolio</legend>
	    	{{else}}
	    		<legend>Create Portfolio</legend>
	    	{{/if }}
	    	{{#if editableContent.url }}
	    		<div class="control-group">
		    		<label class="control-label">Portfolio URI</label>
	    			<label class="data-label">{{ url }}</label>
		    	</div>
	    	{{/if}}
	    	<div class="control-group">
	    		<label class="control-label">Portfolio Name</label>
	    		<div class="controls">
	   				{{ view Ember.TextField viewName="pNameTextField" 
	   				   valueBinding="name" disabledBinding="view.isDisabled" }}
	    		</div>
	    	</div>
	    	<div class="control-group">
	    		<label class="control-label">Description</label>
	    		<div class="controls">
	   				{{ view Ember.TextArea viewName="pDescriptionTextArea" 
	   				   valueBinding="description" disabledBinding="view.isDisabled" }}
	    		</div>
	    	</div>
	    	{{#if controller.isEditing }}
		    	<div class="control-group">
		    		<label class="control-label">Created On</label>
		    		<label class="data-label">{{ createdAt }}</label>
		    	</div>
		    	<div class="control-group">
		    		<label class="control-label">Updated On</label>
		    		<label class="data-label">{{ updatedAt }}</label>
		    	</div>
	    	{{/if}}
	    	<div class="control-group button-group">
	    		<button {{ action save context="content" disabledBinding="view.isDisabled" }} 
	    			class="btn btn-success"> Save </button>
				<button {{ action cancel disabledBinding="view.isDisabled" }} 
					class="btn btn-warning"> Cancel </button>
	    	</div>
	    </fieldset>
	</div>