<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">
			Portfolios
			<button {{ action create }} class="btn"> Create </button>
		</li>
		{{view Ember.TextField viewName="portfolioFilter" placeholder="filter portfolios" size="10" }}
	  	{{#each portfolio in filteredPortfolios }}
   			<li {{bindAttr class="isSelected:active isDeleted:deleted"}} >
   				<a {{action showPortfolio context="portfolio" href=true}}>{{portfolio.name}}</a>
   			</li>
	 	{{/each}}
	</ul>
</div>