<div id='portfoliosMaster'>
	<div id='portfolioList'>
		{{view Luxin.ChosenSelect viewName="portfolioSelect" contentBinding="arrangedContent" 
		  action="showPortfolio" target="Luxin.router" }}
		<a {{ action createPortfolio href=true }}>Create</a>
	</div>
	<div id='portfolioHeader'>
		{{#if selectedPortfolio}}
			<h2 class="portfolioHeader">{{selectedPortfolio.name}} Portfolio</h2>
			<div id="portfolioOptions" class="portfolioHeader">
				<a class="portfolioHeader" {{ action edit context="selectedPortfolio" href=true }}>edit</a>
				/
				<a class="portfolioHeader" {{ action add context="selectedPortfolio" href=true }}>add</a>
			<div>
		{{/if}}
	</div>
</div>